<p>
  You are receiving this email because we received a
  password reset request or your account.
</p>
{{#> button-link href=resetPasswordLink}}
Reset Password
{{/button-link}}

<p>
  or copy paste this link to your browser : {{ resetPasswordLink }}
</p>

<p>
  If you did not request a password reset, no further action is required.
</p>
