<p>
  You are receiving this email because we received a
  password reset request or your account.
</p>
<a href={{appUrl}}+"/reset-password?code="+{{resetPasswordCode}}>Reset Password</a>
<p>
  or copy paste this link to your browser : {{appUrl}}/reset-password?code={{ resetPasswordCode }}
</p>

<p>
  If you did not request a password reset, no further action is required.
</p>
